Repository stac-utils/rustac, pull requests merged in 2024-09, with the labels that each got.

#322 Remove memory-item-search, make axum non-default
  .github/workflows/ci.yml
  cli/Cargo.toml
  pgstac/CHANGELOG.md
  server/CHANGELOG.md
  server/Cargo.toml
  server/README.md
  server/src/api.rs
  server/src/backend/memory.rs
  server/src/backend/mod.rs
Labels: [crate] stac-server

#326 Add better error handling
  server/CHANGELOG.md
  server/Cargo.toml
  server/src/routes.rs
Labels: [crate] stac-server

#332 Allow hrefs, not just paths
  cli/src/subcommand/search.rs
  duckdb/Cargo.toml
  duckdb/src/lib.rs
Labels: [crate] stac-duckdb

#334 Add migrate_href
  python/CHANGELOG.md
  python/src/lib.rs
  python/stacrs.pyi
  python/tests/test_migrate.py
Labels: [crate] python

#337 Configure features for python
  .github/workflows/ci.yml
  Cargo.toml
  cli/Cargo.toml
  cli/README.md
  cli/img/stac-cli.gif
  cli/pyproject.toml
  duckdb/Cargo.toml
Labels: [crate] stac-cli

#338 Allow parquet compression (and other options)
  cli/Cargo.toml
  cli/src/args.rs
  cli/src/lib.rs
  cli/src/runner.rs
  core/src/geoparquet.rs
Labels: [crate] stac, [crate] stac-cli

#339 Use BufWriter for the output file
  cli/Cargo.toml
  cli/src/args.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/subcommand/translate.rs
Labels: [crate] stac-cli

#346 Use path filters to limit ci jobs
  .github/workflows/api.yml
  .github/workflows/async.yml
  .github/workflows/ci.yml
  .github/workflows/cli.yml
  .github/workflows/core.yml
  .github/workflows/duckdb.yml
  .github/workflows/pgstac.yml
  .github/workflows/python-cli.yml
  .github/workflows/python.yml
  .github/workflows/server.yml
  .github/workflows/validate.yml
  cli/Cargo.toml
  server/Cargo.toml
  server/src/error.rs
Labels: github actions

#347 Remove async trait
  server/CHANGELOG.md
  server/Cargo.toml
  server/src/backend/memory.rs
  server/src/backend/mod.rs
  server/src/backend/pgstac.rs
Labels: [crate] stac-server

#349 Fix bbox when building item
  core/Cargo.toml
  core/src/gdal.rs
Labels: [crate] stac

#351 Don't add bands if they're all empty
  core/CHANGELOG.md
  core/data/20201211_223832_CS2.json
  core/src/migrate.rs
Labels: [crate] stac

#360 Add items command
  cli/CHANGELOG.md
  cli/src/args/item.rs
  cli/src/args/items.rs
  cli/src/args/mod.rs
  cli/tests/items.rs
Labels: [crate] stac-cli

#378 Read unknown versions
  cli/src/args/migrate.rs
  cli/src/args/mod.rs
  cli/src/input.rs
  cli/src/output.rs
  core/CHANGELOG.md
  core/src/item_collection.rs
  core/src/migrate.rs
  core/src/value.rs
  core/src/version.rs
  core/tests/migrate.rs
  python/src/lib.rs
  validate/src/validator.rs
  validate/tests/migrate.rs
Labels: [crate] stac

#384 Pin to v1.0
  duckdb/Cargo.toml
Labels: [crate] stac-duckdb

#386 More io work
  .gitignore
  cli/src/args/item.rs
  cli/src/args/mod.rs
  cli/src/args/search.rs
  cli/src/input.rs
  cli/src/options.rs
  cli/src/output.rs
  cli/src/value.rs
  core/CHANGELOG.md
  core/Cargo.toml
  core/README.md
  core/src/format.rs
  core/src/geoparquet.rs
  core/src/href.rs
  core/src/io.rs
  core/src/io/format.rs
  core/src/io/geoarrow/json.rs
  core/src/io/geoarrow/mod.rs
  core/src/io/geoparquet.rs
  core/src/io/mod.rs
  core/src/json.rs
  core/src/lib.rs
  core/src/ndjson.rs
  core/src/object_store.rs
  duckdb/src/lib.rs
Labels: [crate] stac

#388 Fix duckdb but no geoparquet in cli
  cli/src/args/search.rs
Labels: [crate] stac-cli

#387 Add search
  .github/workflows/stacrs.yml
  api/CHANGELOG.md
  api/src/client.rs
  api/src/error.rs
  api/src/filter.rs
  api/src/lib.rs
  python/CHANGELOG.md
  python/CODE_OF_CONDUCT
  python/Cargo.toml
  python/README.md
  python/docs/CODE_OF_CONDUCT
  python/docs/api.md
  python/docs/index.md
  python/pyproject.toml
  python/requirements-dev.in
  python/requirements-dev.txt
  python/src/error.rs
  python/src/lib.rs
  python/src/migrate.rs
  python/src/search.rs
  python/src/validate.rs
  python/stacrs.pyi
  python/tests/test_search.py
  python/tests/test_validate.py
Labels: [crate] stac-api, [crate] python

#383 Add tls support for pgstac
  cli/Cargo.toml
  cli/src/args/serve.rs
  pgstac/Cargo.toml
  pgstac/src/client.rs
  pgstac/src/lib.rs
  pgstac/src/tls.rs
  server/CHANGELOG.md
  server/Cargo.toml
  server/src/backend/pgstac.rs
Labels: [crate] pgstac, [crate] stac-server

#391 Release server v0.3.0, pgstac v0.2.0
  cli/Cargo.toml
  pgstac/CHANGELOG.md
  pgstac/Cargo.toml
  pgstac/README.md
  pgstac/src/lib.rs
  server/CHANGELOG.md
  server/Cargo.toml
  server/README.md
Labels: [crate] pgstac, [crate] stac-server

#392 Update readme badges, run workflows on main push
  .github/workflows/api.yml
  .github/workflows/cli.yml
  .github/workflows/core.yml
  .github/workflows/duckdb.yml
  .github/workflows/pgstac.yml
  .github/workflows/python-cli.yml
  .github/workflows/python.yml
  .github/workflows/server.yml
  .github/workflows/validate.yml
  README.md
Labels: github actions

#396 Yet another io refactor
  .github/workflows/core.yml
  cli/Cargo.toml
  cli/src/args/mod.rs
  cli/src/args/search.rs
  cli/src/input.rs
  cli/src/output.rs
  cli/src/value.rs
  core/CHANGELOG.md
  core/Cargo.toml
  core/data/items.ndjson
  core/src/error.rs
  core/src/extensions/authentication.rs
  core/src/format.rs
  core/src/geoarrow/json.rs
  core/src/geoarrow/mod.rs
  core/src/geoparquet/feature.rs
  core/src/geoparquet/mod.rs
  core/src/geoparquet/no_feature.rs
  core/src/io.rs
  core/src/io/format.rs
  core/src/io/geoparquet.rs
  core/src/io/mod.rs
  core/src/item.rs
  core/src/json.rs
  core/src/lib.rs
  core/src/ndjson.rs
  core/src/value.rs
  core/src/version.rs
  duckdb/src/lib.rs
  python/Cargo.toml
  python/src/search.rs
Labels: [crate] stac

#397 Async validation
  cli/src/args/validate.rs
  core/CHANGELOG.md
  core/src/lib.rs
  python/Cargo.toml
  python/src/validate.rs
  server/src/api.rs
  validate/CHANGELOG.md
  validate/Cargo.toml
  validate/README.md
  validate/src/blocking.rs
  validate/src/error.rs
  validate/src/lib.rs
  validate/src/validate.rs
  validate/src/validator.rs
  validate/tests/examples.rs
  validate/tests/migrate.rs
Labels: [crate] stac-validate

#399 Update to STAC v1.1.0
  cli/examples
  cli/tests/smoke.rs
  core/CHANGELOG.md
  core/data/bands-v1.1.0.json
  core/examples
  core/src/extensions/mod.rs
  core/src/extensions/projection.rs
  core/src/fields.rs
  core/src/gdal.rs
  core/src/lib.rs
  core/src/migrate.rs
  core/src/mime.rs
  core/src/version.rs
  core/tests/migrate.rs
  python/examples
  scripts/validate-stac-geoparquet
  spec-examples/v1.1.0/README.md
  spec-examples/v1.1.0/catalog.json
  spec-examples/v1.1.0/collection-only/collection-with-schemas.json
  spec-examples/v1.1.0/collection-only/collection.json
  spec-examples/v1.1.0/collection.json
  spec-examples/v1.1.0/collectionless-item.json
  spec-examples/v1.1.0/core-item.json
  spec-examples/v1.1.0/extended-item.json
  spec-examples/v1.1.0/extensions-collection/collection.json
  spec-examples/v1.1.0/extensions-collection/proj-example/proj-example.json
  spec-examples/v1.1.0/simple-item.json
  validate/CHANGELOG.md
  validate/examples
  validate/schemas/v1.1.0/bands.json
  validate/schemas/v1.1.0/basics.json
  validate/schemas/v1.1.0/catalog.json
  validate/schemas/v1.1.0/collection.json
  validate/schemas/v1.1.0/common.json
  validate/schemas/v1.1.0/data-values.json
  validate/schemas/v1.1.0/datetime.json
  validate/schemas/v1.1.0/instrument.json
  validate/schemas/v1.1.0/item.json
  validate/schemas/v1.1.0/licensing.json
  validate/schemas/v1.1.0/provider.json
  validate/src/validator.rs
  validate/tests/examples.rs
  validate/tests/migrate.rs
Labels: [crate] stac, [crate] stac-validate

#403 Remove geoparquet feature
  .github/workflows/cli.yml
  cli/CHANGELOG.md
  cli/Cargo.toml
Labels: [crate] stac-cli

#405 Remove extensions vec from asset
  core/CHANGELOG.md
  core/src/asset.rs
  core/src/extensions/authentication.rs
  core/src/extensions/electro_optical.rs
  core/src/extensions/mod.rs
  core/src/extensions/projection.rs
  core/src/extensions/raster.rs
  core/src/fields.rs
  core/src/gdal.rs
Labels: [crate] stac

#409 Fix validate deprecations
  validate/src/validator.rs
Labels: [crate] stac-validate

#416 Fix parsing a geoparquet format
  core/src/format.rs
Labels: [crate] core

#417 Release stac v0.10.1
  core/CHANGELOG.md
  core/Cargo.toml
Labels: [crate] core

#418 Add pystac, read, and write
  python/CHANGELOG.md
  python/Cargo.toml
  python/README.md
  python/docs/api.md
  python/docs/api/index.md
  python/docs/api/migrate.md
  python/docs/api/pystac.md
  python/docs/api/read.md
  python/docs/api/search.md
  python/docs/api/validate.md
  python/docs/api/write.md
  python/mkdocs.yml
  python/pyproject.toml
  python/python/stacrs/__init__.py
  python/python/stacrs/py.typed
  python/python/stacrs/pystac.py
  python/python/stacrs/stacrs.pyi
  python/src/lib.rs
  python/src/read.rs
  python/src/validate.rs
  python/src/write.rs
  python/tests/conftest.py
  python/tests/test_migrate.py
  python/tests/test_pystac.py
  python/tests/test_read.py
  python/tests/test_validate.py
  python/tests/test_write.py
Labels: [crate] python

#421 Release python-v0.1.1
  python/CHANGELOG.md
  python/Cargo.toml
Labels: [crate] python

#426 Return point count from search_to
  python/CHANGELOG.md
  python/Cargo.toml
  python/python/stacrs/stacrs.pyi
  python/src/search.rs
  python/tests/test_search.py
Labels: [crate] python

#438 Simplify validation
  core/CHANGELOG.md
  core/Cargo.toml
  core/src/error.rs
  core/src/validate/validator.rs
Labels: [crate] core

#440 Add reqwest-rustls feature
  core/CHANGELOG.md
  core/Cargo.toml
  core/src/lib.rs
  core/src/validate/mod.rs
  core/src/validate/validator.rs
Labels: [crate] core
